.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 1rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}
